* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif, Arial, Helvetica;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Utilities */
.bg-grey {
  background-color: #f3f5f9;
}

.bg-lightgrey {
  background-color: #f6f7f8;
}

.bg-blue {
  background-color: #0047c5;
}

.bg-darkblue {
  background-color: #031c4e;
}

.bg-lightblue {
  background-color: lightblue;
}

.text-gray {
  color: #afb6c4;
}

.text-aqua {
  color: #00bece;
}

.text-lightblue {
  color: lightblue;
}

.fw-500 {
  font-weight: 500;
}

/* All */
a {
  color: #006aff;
}

/* JUMBOTRON */
header > section.jumbotron {
  background-image: url(img/bg-banner-home.jpg);
  background-size: cover;
  background-position: center;
}

/* FOOTER */
footer {
  padding-bottom: 100px;
}

footer #support-chat > #bubble-speech {
  max-width: 250px;
}

footer #support-chat > #shark {
  background-color: #006aff;
  width: 77.5px;
  height: 75px;
}
